<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!DOCTYPE html>
<html lang="ko">
<head>
<title>네이버 시리즈</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="blog.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
    /*div {border: 1px dotted red}*/
</style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>새 글쓰기</h1>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <form action="#" method="post" class="well">
                <div class="form-group">
                    <label>제목</label>
                    <input type="text" class="form-control" name="title" />
                </div>
                <div>
                    <label>내용</label>
                    <textarea cols="60" class="form-control" name="contents"></textarea>
                </div>
                
            </form>
        </div>
    </div>
</div>
</body>