<!--
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
-->
<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Link : 지식인 : 답변하기</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/images/shortcut-icon.PNG">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../resources/css/blog/blog.css">
	<link rel="stylesheet" href="../../../resources/css//jisikin/jisikinmain.css">
	<link rel="stylesheet" href="../../../resources/css//jisikin/jisikinQna.css">
	<link rel="stylesheet" href="../../../resources/css//jisikin/jisikinQuestion.css">
</head>
<body>
    <nav class="navbar main-nav" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <a href="/src/main/webapp/WEB-INF/views/blog/blogmain.html">
                        <span class="blog-main-javer">Link</span> <span class="blog-main-blog">지식인</span>
                    </a>
                </div>
                <div class="col-sm-5 blog-searchbar">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input style="width:300px;" type="text" class="form-control" placeholder="검색">
                        </div>
                        <button type="submit" class="btn btn-green"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>

                <div class="col-sm-4 col-sm-offset-1 text-right blog-toprow-right">
                    <div class="blog-navbar-right collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <img class="blog-profile-img" src="../../../resources/images/blog.png" alt="">
                                    <span class="blog-navbar-id">빗취</span>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">내 블로그</a></li>
                                    <li><a href="#">밴드</a></li>
                                    <li><a href="#">가계부 </a></li>
                                    <li><a href="#">지식인</a></li>
                                    <li><a href="#">시리즈</a></li>
                                    <li><a href="#">TV</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">로그아웃</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="bell text-center"><a href=""><span class="glyphicon glyphicon-bell"></span></a></div>
                        <div class="envelope"><a href=""><span class="glyphicon glyphicon-envelope"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<div class="container">
   <div class="row" style="margin-top: 0px;">
       <nav class="navbar navbar-default main-nav jisikin-nav">
          <div class="container-fluid">
           
            <div class="navbar-header">
              <a class="navbar-brand menu-home" href="#">홈</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown menu-tab">
                  <a href="#" class="qna-toggle dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Q&A <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">교육,학문</a></li>
                    <li><a href="#">컴퓨터통신</a></li>
                    <li><a href="#">게임</a></li>
                    <li><a href="#">엔터테인먼트,예술</a></li>
                    <li><a href="#">생활</a></li>
                    <li><a href="#">건강</a></li>
                    <li><a href="#">사회,정치</a></li>
                    <li><a href="#">경제</a></li>
                    <li><a href="#">여행</a></li>
                    <li><a href="#">스포츠,레저</a></li>
                    <li><a href="#">쇼핑</a></li>
                    <li><a href="#">쥬니버Q&A</a></li>
                    <li><a href="#">지역&플레이스</a></li>
                    <li><a href="#">고민Q&A</a></li>
                    <li><a href="#">오픈사전</a></li>
                  </ul>
                </li>
                <li class="menu-tab">
                    <a href="#">답변하기 <span class="sr-only">(current)</span></a>
                </li>
                <li class="menu-tab"><a href="#">명예의 전당</a></li>
              </ul>
             
              <ul class="nav navbar-nav navbar-right">
                <li class="menu-tab"><a href="#">프로필</a></li>
                <li class="menu-tab btn-question"><a href="#"><span class="glyphicon glyphicon-pencil"></span>질문하기</a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
   </div>
</div>
   
   
   <!-- 메인 컨텐츠 시작 -->
<!-- 질문 섹션-->
<div class="container">
    <div class="row">
        <div class="col-sm-9 well wrap_qna">
            답변 만들자.
        </div>
        <div class="col-sm-3 aside-content">
            <div class="aside-login" style="display: none;">
               <p class="top_text">질문과 답변을 하고 싶다면,</p>
                <button type="text" class="btn btn-default">
                    <img src="../../../resources/images/link_logo.PNG" alt="" style="width: 50%;"><strong>로그인</strong>
                </button>
                <div class="row sign_area">
                    <div class="info_find">
                        <a href="#" class="" target="_blank">아이디 찾기</a>
                        <span class="bar"></span>
                        <a href="#" target="_blank">비밀번호 찾기</a>
                    </div>

                    <div class="sign_in">
                        <a href="#">회원가입</a>
                    </div>
			    </div>
            </div>
            <div class="aside-login" style="background-color: #f8f8f8; border: 1px solid #e3e3e3;">
                <div id="aside_login" class="aside_myinfo">
	<h2 class="blind">NAVER <em>로그인</em> 영역</h2>
	
		<div class="my_wrap">
			<a href="/myinfo/index.nhn" onclick="nhn.Kin.Utility.nClicks('kmy_lgd.id','','',event);">
				<div class="my_photo">
					<img src="https://ssl.pstatic.net/static/kin/09renewal/avatar/200x200_m/4.png" alt="프로필이미지" class="img" width="50" height="50">
				</div>
				<div class="my_service">
					<p class="user_id ellipsis">allman956</p>
					<p class="user_mykin">프로필 바로가기 <span>&gt;</span></p>
				</div>
			</a>
			<span class="btn_login_area">
				<a href="https://nid.naver.com/nidlogin.logout?retrul=https%3A%2F%2Fkin.naver.com%2Fqna%2Flist.nhn" onclick="nhn.Kin.Utility.nClicks('kmy_lgd.out', '', '', event);" class="btn_login">로그아웃</a>
			</span>
		<div class="mykin_wrap _tab_myarea">
					<div class="mykin_tab_content tc-panel tc-selected"><h4 class="blind">나의 지식iN</h4><div class="scroll_area _panel"><div class="gradeup_info">
		<div class="lv_area grd_lv4">
			<div class="mylv">
				<div class="gauge" id="level_guage">
					<div class="grd_wrap">
						
						<div class="inner" style="width: 14%;">
							<div class="grd_bar"><span class="grd_action"></span></div>
						</div>
					</div>
					<div class="my_level_num"  style="padding-top: 40px;">
					    <strong style="display: block;">내공:</strong> <strong style="display:block;">1,704</strong>
					</div>
				</div>
			</div>
		</div>
	</div></div></div>
			
		</div>
		</div>
	
	
	
			
	
	<!-- 관심키워드 추가 레이어 -->

</div>
            </div>
            <div style="margin-top: 5px;">
                <div class="aside aside_tag well">
                    <h4>지식iN 인기태그</h4>
                    <div class="tag_wrap">
                            <a href="#" class="tag">#안병민</a>
                            <a href="#" class="tag">#블라디보스톡</a>
                            <a href="#" class="tag">#중앙HTA</a>
                            <a href="#" class="tag">#모텔</a>
                            <a href="#" class="tag">#메인보드</a>
                            <a href="#" class="tag">#필터</a>
                            <a href="#" class="tag">#사주풀이</a>
                            <a href="#" class="tag">#식품공학과</a>
                            <a href="#" class="tag">#디포유</a>
                            <a href="#" class="tag">#네이버지도</a>
                    </div>
                </div>
                <div class="aside aside_statistics well">
                    <h4>오늘의 질문과 답변</h4>
                    <div class="stats stats_today">
                        <span class="blind">질문</span><strong class="num">15,781</strong><em class="slash sp_common">/</em><span class="blind">답변</span><strong class="num">28,849</strong>
                        <p class="date_info">2019.07.23.</p>
                    </div>
                    <h4>누적 답변수</h4>
                    <div class="stats stats_accum">
                        <strong class="num">329,673,356</strong>
                        <p class="date_info">since 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
         
        $('.dropdown,.dropdown-menu').hover(function(){

          if($(window).width()>=768){
            $(this).addClass('open').trigger('shown.bs.dropdown', relatedTarget)
            return false;
          }
          
        },function(){
          if($(window).width()>=768){
            $(this).removeClass('open').trigger('hidden.bs.dropdown', relatedTarget)
            return false;
          }
        })
          
      })
    </script>
</body>
</html>