<!--
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
-->
<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Bootstrap</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/src/main/webapp/resources/js/jhse/workspace/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../../resources/css/band/band.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div style="background-color: blue; width: 100%; height: 1000px"></div>
            </div>
            
            <div class="col-sm-6">
               <div class="row band-photo">
                <div class="row band-photo-title">
                    <div class="col-sm-6">
                        <strong>전체 사진</strong>
                        <span>7</span>        
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="btn btn-default">사진 올리기</button>
                    </div>
                </div>
                <div class="row band-photo-sort-row">
                    <div class="col-sm-6" >
                        <select>
                            <option>최신순 보기</option>
                            <option>날짜별 보기</option>
                        </select>
                        
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="#">관리</a>
                    </div>
                </div>
                <div class="row band-photos-row">
                    <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                    
                     <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                     <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                     <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                     <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                     <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                     <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                     <div class="col-sm-4">
                        <a href="#">
                            <img src="../../../resources/images/band_into_img.JPG">
                        </a>
                    </div>
                    
                </div>
              </div>
            </div>
                
               <div class="col-sm-3">
                <div style="background-color: blue; width: 100%; height: 1000px; padding: 0px;"></div>
            </div>
            
        </div>
    </div>
</body>
</html>