<!--
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
-->
<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Bootstrap</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/src/main/webapp/resources/js/jhse/workspace/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../../resources/css/band/band.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div style="background-color: blue; width: 100%; height: 1000px"></div>
            </div>
            
            <div class="col-sm-6">
               <div class="row band-photo">
                <div class="row band-photo-title">
                    <div class="col-sm-6">
                        <strong>멤버</strong>
                        <span style="color: #34cc6c">7</span>        
                    </div>
                    <div class="col-sm-5 text-right" style="padding-right: 0px">
                        <button type="button" class="btn btn-default">멤버 초대하기</button>
                    </div>
                    <div class="col-sm-1">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="../../../resources/images/band_new_option.PNG">
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Excel 다운로드</a></li>
                            <li><a href="#">인쇄하기</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="row band-member-search-row">
                    <div class="col-sm-11">
                        <input type="text" placeholder="멤버 검색"/>
                    </div>
                    <div class="col-sm-1">
                        <a href="#" class="glyphicon glyphicon-search"></a>
                    </div>
                </div>
                
                <div class="row band-members-row">
                    <div class="row">
                        <div class="col-sm-9">
                            <strong>멤버</strong>
                        </div>
                        <div class="col-sm-3 text-right">
                            <select>
                                <option>이름 순</option>
                                <option>최근 가입 순</option>
                            </select>
                        </div>
                    </div>
                    <div class="row band-members-2">
                        <div class="row">
                            <div class="col-sm-2">
                                <strong>이재헌 님</strong>
                            </div>
                            <div class="col-sm-3">
                                <img src="../../../resources/images/band_leader.PNG"/>
                            </div>
                            <div class="col-sm-7 text-right">
                                <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-2">
                                <strong>김철수 님</strong>
                            </div>
                            <div class="col-sm-3">
                                
                            </div>
                            <div class="col-sm-7 text-right">
                                <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-2">
                                <strong>김미영 님</strong>
                            </div>
                            <div class="col-sm-3">
                                
                            </div>
                            <div class="col-sm-7 text-right">
                                <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                            </div>
                        </div>
                      </div>     
                </div>
                <div class="row band-members-buttom">
                    <a href="#">
                       <div class="col-sm-2">
                        <img src="../../../resources/images/band_member_add.PNG"/>
                    </div>
                    <div class="col-sm-10">
                        가입 전 멤버 등록
                    </div>
                    </a>
                </div>
              </div>
            </div>
                
               <div class="col-sm-3">
                <div style="background-color: blue; width: 100%; height: 1000px; padding: 0px;"></div>
            </div>
            
        </div>
    </div>
</body>
</html>