<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!DOCTYPE html>
<html lang="ko">
<head>
<title>네이버 시리즈</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">

</style>
</head>
<body>
<div class="container">
    <div class="col-sm-2">
        <div class="row">
            <div class="col-sm-12" style="padding: 5px; font-weight: bold;">이벤트관</div>
        </div>
        
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item active">전체 이벤트</li>
                <li class="list-group-item">[쿠폰] 비 오는 주말! 쿠폰...</li>
                <li class="list-group-item">[경품] 법정 미스터리 '저스티스'</li>
                <li class="list-group-item">[할인] Feel 충만 로맨스...</li>
                <li class="list-group-item">[경품] 여름하면 런닝맨!...</li>
            </ul>
        </div>
    </div>
    
    <div class="col-sm-10">
        <div class="row">이벤트</div>
        <ul class="list-group">
           <li class="list-group-item col-sm-6">이벤트1</li>
           <li class="list-group-item col-sm-6">이벤트2</li>
           <li class="list-group-item col-sm-6">이벤트3</li>
           <li class="list-group-item col-sm-6">이벤트4</li>
           <li class="list-group-item col-sm-6">이벤트5</li>
           <li class="list-group-item col-sm-6">이벤트6</li>
           <li class="list-group-item col-sm-6">이벤트7</li>
           <li class="list-group-item col-sm-6">이벤트8</li>
           <li class="list-group-item col-sm-6">이벤트9</li>
       </ul>
    </div>
</div>
</body>