<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!DOCTYPE html>
<html lang="ko">
<head>
<title>네이버 시리즈</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
    .carousel-control {
        width: 4%
    }
</style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
            <!--<ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
-->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <ul class="list-group">
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                </ul>
            </div>

            <div class="item">
                <ul class="list-group">
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                </ul>
            </div>

            <div class="item">
                <ul class="list-group">
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                    <div class="col-sm-3" onclick="location.href='www.naver.com/'"><li class="list-group-item"><img src="no_images.jpg" style="width:100%;"><p>맛있는 녀석들</p><p>김준현, 유민상, 김민경, ...<p><p>구매 1,600원</li></div>
                </ul>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
   
       
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
               <div class="col-sm-6">
                <img src="../no_images.jpg" width="300" height="130">
                </div>
              <div class="col-sm-6">
                <img src="../no_images.jpg" width="300" height="130">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" >
                    최신방송
                </div>
                <div class="col-sm-6 text-right">
                    더보기 >
                </div>
                <div class="col-sm-12" style="text-align: center">
                    <div class="row">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                    </div>
                    <div class="row">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-sm-6">
                    할인방송
                </div>
                <div class="col-sm-6 text-right">
                    더보기 >
                </div>
                <div class="col-sm-12" style="text-align: center">
                    <div class="row">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                    </div>
                    <div class="row">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                        <img src="../no_images.jpg" width="100" height="180">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                   <div class="row">
                       <div class="col-sm-6">이벤트</div>
                       <div class="col-sm-6 text-right">더보기 ></div>
                   </div>
                    <div class="row">
                       <ul class="list-group">
                           <li class="list-group-item">이벤트1</li>
                           <li class="list-group-item">이벤트2</li>
                           <li class="list-group-item">이벤트3</li>
                       </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                   <div class="row">
                       <div class="col-sm-6">공지사항</div>
                       <div class="col-sm-6 text-right">더보기 ></div>
                   </div>
                    <div class="row">
                        <ul class="list-group">
                           <li class="list-group-item">공지사항1</li>
                           <li class="list-group-item">공지사항2</li>
                           <li class="list-group-item">공지사항3</li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">나의 이용정보</div>
            <div class="col-sm-6">N포인트</div>
            <div class="col-sm-6 text-right">xxx,xxx원</div>
            <div class="col-sm-12 text-center">포인트 충전하기</div>
        </div>
        <div class="row store-top-10">
            <div class="col-sm-6">방송 스토어 TOP 10</div>
            <div class="col-sm-6 text-right">더보기></div>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="no_images.jpg" width="40px"; height="50px";></td>
                        <td>제목</td>
                    </tr>
                    <tr>
                        <td>주연배우들</td>
                    </tr>
                    
                    <tr>
                        <td rowspan="2"><img src="no_images.jpg" width="40px"; height="50px";></td>
                        <td>제목</td>
                    </tr>
                    <tr>
                        <td>주연배우들</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<script>
    $('.carousel').carousel({
      interval: 3000
    })
</script>
</body>