<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!DOCTYPE html>
<html lang="ko">
<head>
<title>네이버 시리즈</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
    
</style>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-justified">
              <li class="active"><a data-toggle="tab" href="#daily">일간</a></li>
              <li><a data-toggle="tab" href="#weekly">주간</a></li>
              <li><a data-toggle="tab" href="#monthly">월간</a></li>
            </ul>
            
            <div class="tab-content">                                <!-- 콘텐츠가 적히는 부분 -->
              <div id="daily" class="tab-pane fade in active">        <!-- 일간 -->
                <div class="row">
                  <div class="col-sm-2">                             <!-- 반복 -->
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
              <div id="weekly" class="tab-pane fade">                <!-- 주간 -->
                <div class="row">
                  <div class="col-sm-2">                             <!-- 반복 -->
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
              <div id="monthly" class="tab-pane fade">                <!-- 월간 -->
                <div class="row">
                  <div class="col-sm-2">                             <!-- 반복 -->
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="row">
                          <div class="col-sm-2">1</div>
                          <div class="col-sm-10">
                              <img src="../no_images.jpg" width="" height="200px" class="img-thumbnail">
                              <h4>호텔 델루나</h4>
                              <p><span>대여</span> <span>1,650원</span></p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        
       </div>
    </div>
    <!--<div class="row text-center">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
    </div>-->
</div>
</body>